<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    {{!-- bootstrap cdn--}}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    {{!-- font-awesome cdn --}}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css" rel="stylesheet">
    {{!-- css --}}
    <link rel="stylesheet" type="text/css" href="/crepe.css">
    {{!-- fonts --}}
    <link href="https://fonts.googleapis.com/css?family=Notable&display=swap" rel="stylesheet">

    {{!-- jQuery --}}
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


    <title>News Crepe</title>
</head>

<body class="bg">
    {{{ body }}}
</body>
{{!-- js --}}
<script type="text/javascript" src="/app.js"></script>

</html>